<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>taxiapp.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>30</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
				<key>dateExpires</key>
				<string>5/15/24</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseABTesting.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAppCheckInterop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseAuth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseDynamicLinks.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseRemoteConfig.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>10.9.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>3.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>OrderedSet.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>2.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>4.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>app_links.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_inappwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_secure_storage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>6.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_web_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>0.5.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>social_share.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>5C020C38868FB95BFC43A113D0D5C08383054C35</string>
						<key>dateExpires</key>
						<string>5/15/24</string>
						<key>type</key>
						<string>Cloud Managed Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>N5V8W52U3U</string>
						<key>name</key>
						<string>SPARCS</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>N5V8W52U3U.org.sparcs.taxi-app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.associated-domains</key>
				<array>
					<string>applinks:sparcstaxi.page.link</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>N5V8W52U3U</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>7774b0ef-26fd-4f1c-8818-2d088011b9d9</string>
				<key>dateExpires</key>
				<string>6/29/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: org.sparcs.taxi-app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>N5V8W52U3U</string>
				<key>name</key>
				<string>SPARCS</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.6</string>
		</dict>
	</array>
</dict>
</plist>
